form table
{
    border-collapse: collapse;
}

form label
{
    float: left;
    width: 10em;
}

form input:read-only
{
    color: #808080;
}

form input[type=text]
{
    width: 30em;
}

form input[type=submit]
{
    width: 10em;
}

pre
{
    background-color: #e0e0e0;
    padding: 0.5em
}
