form table
{
    border-collapse: collapse;
}

form td *
{
    box-sizing: border-box;
    width: 100%;
}

form td.label
{
    width: 10em;
}

form td.label label
{
    float: left;
}

form td.field
{
    width: 30em;
}

form input[readonly]
{
    color: #808080;
}

form input[type=checkbox]
{
    float: left;
    width: auto;
}

form input[type=submit]
{
    width: 10em;
}

pre
{
    background-color: #e0e0e0;
    padding: 0.5em
}
